.genres-list {
    list-style-position:inside;
    font-size:0.8em;
    line-height:25px;
}

.genres-header {
    padding-bottom:15px;
    font-weight:bold;
}

.genres-box {
    display: flex;
    padding: 25px;
    background: #A3B899;
    border: 2px solid #6B6666;
    border-radius:20px;
}