/* .toggle-header {
    padding-top:5px;

} */

.button-group button {
    /* background-color: rgb(219, 175, 239); */
    /* background-color:#f1be77; */
    border: 4px solid white;
    color: white;
    padding: 10px 24px;
    cursor:pointer;
    float:left;
    font-size:25px;
    width:210px;
    background-color:transparent;
}

.button-group button:not(:last-child) {
    border-right: none;
}

.pressed {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}

.button-group button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}

.button-group:after {
    content: "";
    clear:both;
    display:table;
}

