.top-wrapper {
    display: flex;
    padding-top:25px;
    column-gap:30px;
}

.top-tracks {
    float: left;
    width: 50%;
}

.top-artists {
    float: right;
    width: 50%;
}

.top-tracks-list {
    list-style-position:inside;
    font-size:0.8em;
    line-height:25px;
    margin:10px;
}

.top-artists-list {
    list-style-position:inside;
    font-size:0.8em;
    line-height:25px;
}

.top-tracks-header {
    padding-bottom:15px;
}

.top-artists-header {
    padding-bottom:15px;
}

.top-artist-img img {
    width: 40%;
    padding-bottom: 15px;
}

