.top-wrapper {
    padding-top:25px;
    column-gap:30px;
}

.tracks-box {
    display: flex;
    padding: 25px;
    background: #A3B899;
    border: 2px solid #6B6666;
    border-radius:20px;
    float: left;
    width: 45%;
}

/* .top-tracks {
    
} */

.artists-box {
    display: flex;
    padding: 16px;
    background: #A3B899;
    float: right;
    width: 400px;
    height: 675px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }


.top-tracks-list {
    list-style-position:inside;
    font-size:0.8em;
    line-height:25px;
    margin:10px;
}

.top-artists-list {
    font-size:0.5em;
    line-height:15px;
    grid-auto-columns: 26%;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 15px;
}

.top-tracks-header {
    padding-bottom:15px;
    font-weight: bold;
}

.top-artists-header {
    padding-bottom:15px;
    font-weight: bold;
    align-items: center;
}

.top-artist-img img {
    /* width: 80%; */
    /* float: none; */
    margin-top: 118px;
    padding-bottom: 15px;
    width: 366px;

}

